# Descargas de diferentes fuentes de la web

In [1]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

## Primera petición

In [6]:
url = "https://pbs.twimg.com/profile_images/616689518968762368/rkhjKqNb.jpg"
image = requests.get(url)

In [7]:
image

In [10]:
# image.content

In [11]:
with open("mutenrroy.jpg", 'wb') as f:
    f.write(image.content)

## Bajar datos de inflación mediante url

In [12]:
df_inflation = pd.read_csv('https://datahub.io/core/inflation/r/inflation-gdp.csv')
df_inflation.head()

      Country Country Code  Year  Inflation
0  Arab World          ARB  1969   1.303790
1  Arab World          ARB  1970   2.602241
2  Arab World          ARB  1971   6.884719
3  Arab World          ARB  1972   2.496081
4  Arab World          ARB  1973  11.555281

In [13]:
df_inflation[df_inflation['Country'] == "Spain"]

     Country Country Code  Year  Inflation
9432   Spain          ESP  1961   2.466390
9433   Spain          ESP  1962   6.095842
9434   Spain          ESP  1963   7.845375
9435   Spain          ESP  1964   6.254320
9436   Spain          ESP  1965   9.164867
9437   Spain          ESP  1966   8.173743
9438   Spain          ESP  1967   8.537719
9439   Spain          ESP  1968   5.911130
9440   Spain          ESP  1969   5.133251
9441   Spain          ESP  1970   8.768999
9442   Spain          ESP  1971   7.846021
9443   Spain          ESP  1972   8.517925
9444   Spain          ESP  1973  11.849595
9445   Spain          ESP  1974  15.945109
9446   Spain          ESP  1975  16.781782
9447   Spain          ESP  1976  16.489922
9448   Spain          ESP  1977  23.383070
9449   Spain          ESP  1978  20.631042
9450   Spain          ESP  1979  16.931632
9451   Spain          ESP  1980  13.354827
9452   Spain          ESP  1981  12.351192
9453   Spain          ESP  1982  13.582323
9454   Spain          ESP  1983  11.884246
9455   Spain          ESP  1984  10.864734
9456   Spain          ESP  1985   8.595479
9457   Spain          ESP  1986  10.878816
9458   Spain          ESP  1987   5.944198
9459   Spain          ESP  1988   5.936126
9460   Spain          ESP  1989   6.896194
9461   Spain          ESP  1990   7.326251
9462   Spain          ESP  1991   6.935139
9463   Spain          ESP  1992   6.710771
9464   Spain          ESP  1993   4.537241
9465   Spain          ESP  1994   3.879842
9466   Spain          ESP  1995   4.933130
9467   Spain          ESP  1996   3.470721
9468   Spain          ESP  1997   2.381828
9469   Spain          ESP  1998   2.532760
9470   Spain          ESP  1999   2.664838
9471   Spain          ESP  2000   3.276074
9472   Spain          ESP  2001   4.079866
9473   Spain          ESP  2002   4.114985
9474   Spain          ESP  2003   3.918909
9475   Spain          ESP  2004   3.921276
9476   Spain          ESP  2005   4.149491
9477   Spain          ESP  2006   3.978200
9478   Spain          ESP  2007   3.331140
9479   Spain          ESP  2008   2.135441
9480   Spain          ESP  2009   0.252534
9481   Spain          ESP  2010   0.160419
9482   Spain          ESP  2011   0.028968
9483   Spain          ESP  2012   0.067950
9484   Spain          ESP  2013   0.353610
9485   Spain          ESP  2014  -0.194984
9486   Spain          ESP  2015   0.610876
9487   Spain          ESP  2016   0.283304

## Bajar datos de Bicimad

In [14]:
url = 'https://opendata.emtmadrid.es/getattachment/c3383795-121b-4ebf-98b4-c7b05e902eaf/202106_movements.aspx'

r = requests.get(url)

In [15]:
r

In [16]:
# Guardamos el zip
filename = 'data/bicis.zip'
with open(filename, 'wb') as f:
   f.write(r.content)

In [17]:
# Extraemos lo que hay dentro
filename = 'data/bicis.zip'
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall("data/")

In [18]:
# Leemos los datos
datos_bicis = pd.read_json('data/202106_movements.json', lines=True, encoding='latin-1', nrows=10000)

In [19]:
# Vemos qué pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code
0,{'$oid': '60bbf3f21b91311d90d568ad'},b67ea824acf706087d5818ebc6f90821a5abaab17a0868...,15,1,13,319,38,0,54,2021-06-01T00:00:00Z,
1,{'$oid': '60bbf3f21b91311d90d568b2'},364b1b99f1f9a1748f7abf1134c8d6a46197b583649308...,7,1,1,386,185,0,126,2021-06-01T00:00:00Z,
2,{'$oid': '60bbf3f21b91311d90d568b3'},5cc17031cba02835dda4b6c153b56572beaade54d8ab91...,14,1,10,465,15,0,91,2021-06-01T00:00:00Z,
3,{'$oid': '60bbf3f21b91311d90d568b4'},6e855acaaa17d6d14236598c0f1172c783e16950e39c01...,8,1,22,613,84,0,236,2021-06-01T00:00:00Z,
4,{'$oid': '60bbf3f21b91311d90d568b5'},e93417502d55208995a61f4177956ab9289aba39044ce3...,1,1,4,751,131,5,94,2021-06-01T00:00:00Z,28006

In [20]:
datos_bicis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               10000 non-null  object
 1   user_day_code     10000 non-null  object
 2   idplug_base       10000 non-null  int64
 3   user_type         10000 non-null  int64
 4   idunplug_base     10000 non-null  int64
 5   travel_time       10000 non-null  int64
 6   idunplug_station  10000 non-null  int64
 7   ageRange          10000 non-null  int64
 8   idplug_station    10000 non-null  int64
 9   unplug_hourTime   10000 non-null  object
 10  zip_code          10000 non-null  object
dtypes: int64(7), object(4)
memory usage: 859.5+ KB

In [21]:
datos_bicis['zip_code'].unique()

array(['', '28006', '28004', '28045', '28028', '28009', '28007', '28005',
       '28010', '28034', '28012', '28001', '28008', '28015', '28002',
       '28105', 'CODIGO_POSTAL_NOT_DEF', '28013', '39724', '28100',
       '28800', '28027', '28020', '28011', '28014', '28850', '15002',
       '28003', '45007', '28046', '28039', '28043', '28038', '28934',
       '28016', '28945', '28221', '28033', '28030', '28029', '28048',
       '28054', '28035', '35572', '28049', '28004 ', '28019', '28040',
       '28941', '28523', '28380', '28933', '28026', '45600', '28938',
       '28220', '28935', '28760', '28863', '28018', '28250', '28053',
       '28017', '28024', '28823', '28021', '28922', '28210', '28022',
       '28036', '28047', '28430', '28041', '46009', '28770', '28031',
       '28200', '46026', '20540', '28232', '28042', '28071', '18006',
       '28400', '62973', '2', '28521', '28822', '28411', '28229', '48520',
       '29039', '28260', '28055', '28942', '28815', '28037', '28702',
       '28707', '28701', '28290', '28691', '28460', '28936', '28915',
       '28025', '28750', '28905', '28223', '75014', '28891', '28903',
       '23009', '28023', '28660', '28006 ', '28924', '28911', '28032',
       '28801', '10318', '28803', '29740', '28051', '28342', '28912',
       '28064', '28299', '33206', '28791', '28028 ', '09006', '28917',
       '19160', '28923', '28350', '29045', '23012', '28670', '28044',
       '28909', '28450', '28906', '28231'], dtype=object)

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores catálogos de información pública descargable en España

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio datos.gob.es</h3>

Descarga con pandas un dataset de la página https://datos.gob.es/es/catalogo acerca del empleo y guárdalo en un csv en la carpeta data.
         
 </td></tr>
</table>

In [28]:
url = "https://dadesobertes.gva.es/dataset/e75f6784-6259-49e9-96a3-e390429b5132/resource/c0086815-f90c-4282-85a9-33534cbe1b3d/download/datos-erte-resueltos-por-covid-19-2022-12-02.csv"
datos_empleo = pd.read_csv(url, sep=";")
datos_empleo.to_csv("data/datos_empleo.csv")

In [29]:
datos_empleo

,AUTORIDAD_LABORAL,SECTOR,NUM_EXPEDIENTES,NUM_TRABAJADORES_AFECTADOS,HOMBRES,MUJERES,PERS_GENERO_SIN_DETERMINAR
0,CONCURSAL,SERVICIOS,1,123,0,0,123
1,D.G.,AGRICULTURA,2,45,31,14,0
2,D.G.,CONSTRUCIÓN,33,1378,1141,237,0
3,D.G.,INDUSTRIA,334,114426,74336,17724,22366
4,D.G.,SERVICIOS,899,44559,21787,20190,2582
5,DT VALENCIA,AGRICULTURA,58,271,211,60,0
6,DT VALENCIA,CONSTRUCIÓN,1899,9401,7884,1432,85
7,DT VALENCIA,INDUSTRIA,3226,40291,27823,10905,1563
8,DT VALENCIA,SERVICIOS,30262,142717,66196,73730,2791
9,S.T. ALICANTE,AGRICULTURA,157,661,563,96,2
10,S.T. ALICANTE,CONSTRUCIÓN,1507,6383,5132,1246,5
11,S.T. ALICANTE,INDUSTRIA,2514,30997,21902,8336,759
12,S.T. ALICANTE,SERVICIOS,27478,124275,59739,63458,1078
13,S.T. CASTELLON,AGRICULTURA,127,518,462,56,0
14,S.T. CASTELLON,CONSTRUCIÓN,489,2458,2107,351,0
15,S.T. CASTELLON,INDUSTRIA,923,19701,14029,4606,1066
16,S.T. CASTELLON,SERVICIOS,8710,35942,15403,20085,454

In [38]:
url = "https://datos.gob.es/apidata/catalog/dataset/l01281230-calidad-del-aire?_sort=title&_pageSize=10&_page=0"
response = requests.get(url)
with open("data/contenido_api.json", 'wb') as f:
    f.write(response.content)

# OpenStreetMap

In [39]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity

overpass_url = "http://overpass-api.de/api/interpreter"

overpass_query = """
[out:json];
node["amenity"="cafe"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [47]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.59 e21c39fe',
 'osm3s': {'timestamp_osm_base': '2022-12-21T12:36:54Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 2977298934,
   'lat': 40.4210523,
   'lon': -3.689841,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:street': 'Calle de Villalar',
    'amenity': 'cafe',
    'cuisine': 'regional',
    'internet_access': 'yes',
    'name': 'Café Villalar',
    'payment:bitcoin': 'yes',
    'website': 'http://www.cafevillalar.com/'}},
  {'type': 'node',
   'id': 3426617375,
   'lat': 40.4221948,
   'lon': -3.6923421,
   'tags': {'amenity': 'cafe',
    'name': 'Gran Café Gijón',
    'phone': '+34 915 215 425',
    'website': 'https://cafegijon.com/',
    'wikidata': 'Q1025608',
    'wikipedia': 'es:Café Gijón'}},
  {'type': 'node',
   'id': 4703448419,
   'lat': 40.4229908,
   'lon': -3.6936524,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '6',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Marqués de Monasterio',
    'amenity': 'cafe',
    'contact:facebook': 'https://www.facebook.com/hermanasae',
    'contact:instagram': 'https://www.instagram.com/hermanasarce/',
    'cuisine': 'cake',
    'disused:amenity': 'restaurant',
    'name': 'Hermanas Arce',
    'old_name': 'Noteolvides',
    'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
  {'type': 'node',
   'id': 4778747544,
   'lat': 40.4223247,
   'lon': -3.6909735,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '1',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'cafe',
    'brand': 'Santagloria',
    'brand:wikidata': 'Q54606497',
    'contact:phone': '+34 914319000',
    'contact:website': 'https://www.santagloria.com',
    'name': 'Santagloria',
    'shop': 'bakery'}},
  {'type': 'node',
   'id': 9207850217,
   'lat': 40.4218751,
   'lon': -3.6901227,
   'tags': {'amenity': 'cafe', 'name': 'masticar'}}]}

In [48]:
data.keys()

dict_keys(['version', 'generator', 'osm3s', 'elements'])

In [49]:
data.get('osm3s')

{'timestamp_osm_base': '2022-12-21T12:36:54Z',
 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}

In [51]:
data['osm3s']['copyright']

'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'

In [61]:
data['elements'][0]['tags']['name']

'Café Villalar'

In [62]:
for element in data['elements']:
    print(element)

{'type': 'node', 'id': 2977298934, 'lat': 40.4210523, 'lon': -3.689841, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '4', 'addr:street': 'Calle de Villalar', 'amenity': 'cafe', 'cuisine': 'regional', 'internet_access': 'yes', 'name': 'Café Villalar', 'payment:bitcoin': 'yes', 'website': 'http://www.cafevillalar.com/'}}
{'type': 'node', 'id': 3426617375, 'lat': 40.4221948, 'lon': -3.6923421, 'tags': {'amenity': 'cafe', 'name': 'Gran Café Gijón', 'phone': '+34 915 215 425', 'website': 'https://cafegijon.com/', 'wikidata': 'Q1025608', 'wikipedia': 'es:Café Gijón'}}
{'type': 'node', 'id': 4703448419, 'lat': 40.4229908, 'lon': -3.6936524, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '6', 'addr:postcode': '28004', 'addr:street': 'Calle del Marqués de Monasterio', 'amenity': 'cafe', 'contact:facebook': 'https://www.facebook.com/hermanasae', 'contact:instagram': 'https://www.instagram.com/hermanasarce/', 'cuisine': 'cake', 'disused:amenity': 'restaurant', 'name': 'Hermanas Arce', 'old_name': 'Noteolvides', 'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}}
{'type': 'node', 'id': 4778747544, 'lat': 40.4223247, 'lon': -3.6909735, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '1', 'addr:postcode': '28001', 'addr:street': 'Calle de Recoletos', 'amenity': 'cafe', 'brand': 'Santagloria', 'brand:wikidata': 'Q54606497', 'contact:phone': '+34 914319000', 'contact:website': 'https://www.santagloria.com', 'name': 'Santagloria', 'shop': 'bakery'}}
{'type': 'node', 'id': 9207850217, 'lat': 40.4218751, 'lon': -3.6901227, 'tags': {'amenity': 'cafe', 'name': 'masticar'}}

In [35]:
data['elements']

[{'type': 'node',
  'id': 2977298934,
  'lat': 40.4210523,
  'lon': -3.689841,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '4',
   'addr:street': 'Calle de Villalar',
   'amenity': 'cafe',
   'cuisine': 'regional',
   'internet_access': 'yes',
   'name': 'Café Villalar',
   'payment:bitcoin': 'yes',
   'website': 'http://www.cafevillalar.com/'}},
 {'type': 'node',
  'id': 3426617375,
  'lat': 40.4221948,
  'lon': -3.6923421,
  'tags': {'amenity': 'cafe',
   'name': 'Gran Café Gijón',
   'phone': '+34 915 215 425',
   'website': 'https://cafegijon.com/',
   'wikidata': 'Q1025608',
   'wikipedia': 'es:Café Gijón'}},
 {'type': 'node',
  'id': 4703448419,
  'lat': 40.4229908,
  'lon': -3.6936524,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '6',
   'addr:postcode': '28004',
   'addr:street': 'Calle del Marqués de Monasterio',
   'amenity': 'cafe',
   'contact:facebook': 'https://www.facebook.com/hermanasae',
   'contact:instagram': 'https://www.instagram.com/hermanasarce/',
   'cuisine': 'cake',
   'disused:amenity': 'restaurant',
   'name': 'Hermanas Arce',
   'old_name': 'Noteolvides',
   'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
 {'type': 'node',
  'id': 9207850217,
  'lat': 40.4218751,
  'lon': -3.6901227,
  'tags': {'amenity': 'cafe', 'name': 'masticar'}}]

In [63]:
data['elements']

[{'type': 'node',
  'id': 2977298934,
  'lat': 40.4210523,
  'lon': -3.689841,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '4',
   'addr:street': 'Calle de Villalar',
   'amenity': 'cafe',
   'cuisine': 'regional',
   'internet_access': 'yes',
   'name': 'Café Villalar',
   'payment:bitcoin': 'yes',
   'website': 'http://www.cafevillalar.com/'}},
 {'type': 'node',
  'id': 3426617375,
  'lat': 40.4221948,
  'lon': -3.6923421,
  'tags': {'amenity': 'cafe',
   'name': 'Gran Café Gijón',
   'phone': '+34 915 215 425',
   'website': 'https://cafegijon.com/',
   'wikidata': 'Q1025608',
   'wikipedia': 'es:Café Gijón'}},
 {'type': 'node',
  'id': 4703448419,
  'lat': 40.4229908,
  'lon': -3.6936524,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '6',
   'addr:postcode': '28004',
   'addr:street': 'Calle del Marqués de Monasterio',
   'amenity': 'cafe',
   'contact:facebook': 'https://www.facebook.com/hermanasae',
   'contact:instagram': 'https://www.instagram.com/hermanasarce/',
   'cuisine': 'cake',
   'disused:amenity': 'restaurant',
   'name': 'Hermanas Arce',
   'old_name': 'Noteolvides',
   'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
 {'type': 'node',
  'id': 4778747544,
  'lat': 40.4223247,
  'lon': -3.6909735,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '1',
   'addr:postcode': '28001',
   'addr:street': 'Calle de Recoletos',
   'amenity': 'cafe',
   'brand': 'Santagloria',
   'brand:wikidata': 'Q54606497',
   'contact:phone': '+34 914319000',
   'contact:website': 'https://www.santagloria.com',
   'name': 'Santagloria',
   'shop': 'bakery'}},
 {'type': 'node',
  'id': 9207850217,
  'lat': 40.4218751,
  'lon': -3.6901227,
  'tags': {'amenity': 'cafe', 'name': 'masticar'}}]

In [69]:
data['elements'][2]['tags']

{'addr:city': 'Madrid',
 'addr:housenumber': '6',
 'addr:postcode': '28004',
 'addr:street': 'Calle del Marqués de Monasterio',
 'amenity': 'cafe',
 'contact:facebook': 'https://www.facebook.com/hermanasae',
 'contact:instagram': 'https://www.instagram.com/hermanasarce/',
 'cuisine': 'cake',
 'disused:amenity': 'restaurant',
 'name': 'Hermanas Arce',
 'old_name': 'Noteolvides',
 'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}

In [64]:
pd.DataFrame(data['elements'])

,type,id,lat,lon,tags
0,node,2977298934,40.421052,-3.689841,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
1,node,3426617375,40.422195,-3.692342,"{'amenity': 'cafe', 'name': 'Gran Café Gijón',..."
2,node,4703448419,40.422991,-3.693652,"{'addr:city': 'Madrid', 'addr:housenumber': '6..."
3,node,4778747544,40.422325,-3.690974,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
4,node,9207850217,40.421875,-3.690123,"{'amenity': 'cafe', 'name': 'masticar'}"

In [70]:
def json_to_dataframe(data_entrada):
    elements = data_entrada['elements']
    places = {'lat': [], 'lon': [], 'name': [], 'address': []}

    for i in elements:
        lalitude = i['lat']
        longitude = i['lon']
        name = i['tags'].get('name')
        street = i['tags'].get('addr:street', 'Sin calle')
        number = i['tags'].get('addr:housenumber', 0)
        
        places['lat'].append(lalitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(str(street) + ' ' + str(number))

    df = pd.DataFrame(places)
    return df

In [41]:
data['elements'][1]['tags']

{'amenity': 'cafe',
 'name': 'Gran Café Gijón',
 'phone': '+34 915 215 425',
 'website': 'https://cafegijon.com/',
 'wikidata': 'Q1025608',
 'wikipedia': 'es:Café Gijón'}

In [71]:
df_return = json_to_dataframe(data)
df_return.head()

         lat       lon             name                            address
0  40.421052 -3.689841    Café Villalar                Calle de Villalar 4
1  40.422195 -3.692342  Gran Café Gijón                        Sin calle 0
2  40.422991 -3.693652    Hermanas Arce  Calle del Marqués de Monasterio 6
3  40.422325 -3.690974      Santagloria               Calle de Recoletos 1
4  40.421875 -3.690123         masticar                        Sin calle 0

In [ ]:
# lista_responses = [data1, data2, data3, data4]
# for data in lista_responses:
#     df_return = json_to_dataframe(data)
#     df_results = df_results.concat(df_return)

## Datos del espacio

In [72]:
'''
https://thespacedevs.com/llapi
https://ll.thespacedevs.com/2.2.0/swagger
'''
space_url = "http://ll.thespacedevs.com/2.2.0"

path = "/astronaut"

url_total = space_url + path

response = requests.get(url_total)

In [73]:
print(response.status_code)
type(response.content)
response.json()

200

{'count': 721,
 'next': 'https://ll.thespacedevs.com/2.2.0/astronaut/?limit=10&offset=10',
 'previous': None,
 'results': [{'id': 1,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/1/',
   'name': 'Thomas Pesquet',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-02-27',
   'date_of_death': None,
   'nationality': 'French',
   'bio': 'Thomas Gautier Pesquet is a French aerospace engineer, pilot, and European Space Agency astronaut. Pesquet was selected by ESA as a candidate in May 2009, and he successfully completed his basic training in November 2010. From November 2016 to June 2017, Pesquet was part of Expeditions 50 and 51 on the International Space Station as a flight engineer.',
   'twitter': 'https://twitter.com/Thom_astro',
   'instagram': 'https://instagram.com/thom_astro',
   'wiki': 'https://en.wikipedia.org/wiki/Thomas_Pesquet',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas2520pesquet_image_20200102120546.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas_pesquet_thumbnail_20220911033657.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2021-04-23T09:49:02Z',
   'first_flight': '2016-11-17T20:20:13Z'},
  {'id': 2,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/2/',
   'name': 'Claude Nicollier',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 78,
   'date_of_birth': '1944-09-02',
   'date_of_death': None,
   'nationality': 'Swiss',
   'bio': 'Claude Nicollier is the first astronaut from Switzerland. He has flown on four Space Shuttle missions. His first spaceflight (STS-46) was in 1992, and his final spaceflight (STS-103) was in 1999. He took part in two servicing missions to the Hubble Space Telescope (called STS-61 and STS-103). During his final spaceflight he participated in a spacewalk, becoming the first European Space Agency astronaut to do so during a Space Shuttle mission. In 2000 he was assigned to the Astronaut Office Extravehicular Activity Branch, while maintaining a position as Lead ESA Astronaut in Houston. Nicollier retired from ESA in April 2007.',
   'twitter': 'https://twitter.com/Astroclaude',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Claude_Nicollier',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude2520nicollier_image_20181127203218.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude_nicollie_thumbnail_20220911033747.jpeg',
   'flights_count': 4,
   'landings_count': 4,
   'last_flight': '1999-12-20T00:50:00Z',
   'first_flight': '1992-07-31T13:56:48Z'},
  {'id': 3,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/3/',
   'name': 'Tim Peake',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 50,
   'date_of_birth': '1972-04-07',
   'date_of_death': None,
   'nationality': 'British',
   'bio': "Major Timothy Nigel Peake CMG is a British Army Air Corps officer, European Space Agency astronaut and a former International Space Station (ISS) crew member.  He is the first British ESA astronaut, the second astronaut to bear a flag of the United Kingdom patch, the sixth person born in the United Kingdom to go on board the International Space Station and the seventh UK-born person in space. He began the ESA's intensive astronaut basic training course in September 2009 and graduated on 22 November 2010",
   'twitter': 'https://twitter.com/astro_timpeake',
   'instagram': 'https://www.instagram.com/astro_timpeake/',
   'wiki': 'https://en.wikipedia.org/wiki/Tim_Peake',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_image_20220911033713.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_thumbnail_20220911033713.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2015-12-15T11:03:09Z',
   'first_flight': '2015-12-15T11:03:09Z'},
  {'id': 4,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/4/',
   'name': 'Buzz Aldrin',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 92,
   'date_of_birth': '1930-01-20',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Buzz Aldrin; born Edwin Eugene Aldrin Jr.; is an American engineer, former astronaut, and fighter pilot.\r\nAs Lunar Module Pilot on the Apollo 11 mission, he and mission commander Neil Armstrong were the first two humans to land on the Moon.',
   'twitter': 'https://twitter.com/TheRealBuzz',
   'instagram': 'https://www.instagram.com/drbuzzaldrin/',
   'wiki': 'https://en.wikipedia.org/wiki/Buzz_Aldrin',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_image_20220911034547.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_thumbnail_20220911034547.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '1969-07-16T13:32:00Z',
   'first_flight': '1966-11-11T20:46:33Z'},
  {'id': 5,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/5/',
   'name': 'Chris Hadfield',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 63,
   'date_of_birth': '1959-08-29',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Chris Austin Hadfield is a Canadian retired astronaut, engineer, and former Royal Canadian Air Force fighter pilot.\r\nThe first Canadian to walk in space, Hadfield has flown two space shuttle missions and served as commander of the International Space Station.',
   'twitter': 'https://twitter.com/Cmdr_Hadfield',
   'instagram': 'https://www.instagram.com/colchrishadfield/',
   'wiki': 'https://en.wikipedia.org/wiki/Chris_Hadfield',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_image_20220911034200.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_thumbnail_20220911034200.jpeg',
   'flights_count': 3,
   'landings_count': 3,
   'last_flight': '2012-12-19T12:12:35Z',
   'first_flight': '1995-11-12T12:30:43Z'},
  {'id': 6,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/6/',
   'name': 'David Saint-Jacques',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 52,
   'date_of_birth': '1970-01-06',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'David Saint-Jacques is a Canadian astronaut with the Canadian Space Agency (CSA).\r\nHe was also an engineer, an astrophysicist, and a physician prior to joining the CSA.\r\nHe was selected to join the CSA in the 2009 CSA selection along with Jeremy Hansen.',
   'twitter': 'https://twitter.com/Astro_DavidS',
   'instagram': 'https://www.instagram.com/astrodavids/',
   'wiki': 'https://en.wikipedia.org/wiki/David_Saint-Jacques',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_image_20220911034207.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_thumbnail_20220911034208.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 7,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/7/',
   'name': 'Anne McClain',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 43,
   'date_of_birth': '1979-06-07',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Anne Charlotte McClain is a lieutenant colonel in the U.S. Army currently assigned to NASA Astronaut Group 21.',
   'twitter': 'https://twitter.com/AstroAnnimal',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Anne_McClain',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne2520mcclain_image_20181127210625.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne_mcclain_thumbnail_20220911034153.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 8,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/8/',
   'name': 'Andrew R. Morgan',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 46,
   'date_of_birth': '1976-02-05',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Andrew Richard "Drew" Morgan is a NASA astronaut from the class of 2013.',
   'twitter': 'https://twitter.com/AstroDrewMorgan',
   'instagram': 'https://www.instagram.com/astrodrewmorgan/',
   'wiki': 'https://en.wikipedia.org/wiki/Andrew_R._Morgan',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_image_20220911034204.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_thumbnail_20220911034204.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2019-07-20T16:28:21Z',
   'first_flight': '2019-07-20T16:28:21Z'},
  {'id': 9,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/9/',
   'name': 'Nick Hague',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 47,
   'date_of_birth': '1975-09-24',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Tyler Nicklaus Hague is an American Flight Test Engineer and a NASA astronaut of the class of 2013.\r\nSelected to be a flight engineer of Expedition 57 / 58 to the International Space Station, he launched on board Soyuz MS-10, which aborted shortly after launch on October 11, 2018.',
   'twitter': 'https://twitter.com/AstroHague',
   'instagram': 'https://www.instagram.com/astrohague/',
   'wiki': 'https://en.wikipedia.org/wiki/Nick_Hague',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,

In [48]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut'

In [97]:
url_total = space_url + path + "/?age=44"

response_sp = requests.get(url_total)

In [98]:
response_sp

In [99]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut/?age=44'

In [100]:
response_sp.json()

{'count': 7,
 'next': None,
 'previous': None,
 'results': [{'id': 1,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/1/',
   'name': 'Thomas Pesquet',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-02-27',
   'date_of_death': None,
   'nationality': 'French',
   'bio': 'Thomas Gautier Pesquet is a French aerospace engineer, pilot, and European Space Agency astronaut. Pesquet was selected by ESA as a candidate in May 2009, and he successfully completed his basic training in November 2010. From November 2016 to June 2017, Pesquet was part of Expeditions 50 and 51 on the International Space Station as a flight engineer.',
   'twitter': 'https://twitter.com/Thom_astro',
   'instagram': 'https://instagram.com/thom_astro',
   'wiki': 'https://en.wikipedia.org/wiki/Thomas_Pesquet',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas2520pesquet_image_20200102120546.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas_pesquet_thumbnail_20220911033657.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2021-04-23T09:49:02Z',
   'first_flight': '2016-11-17T20:20:13Z'},
  {'id': 77,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/77/',
   'name': 'Pavel Belyayev',
   'status': {'id': 11, 'name': 'Deceased'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1925-06-26',
   'date_of_death': '1970-01-10',
   'nationality': 'Russian',
   'bio': 'Pavel Ivanovich Belyayev (Russian: Павел Иванович Беляев; 26 June 1925 – 10 January 1970), was a Soviet fighter pilot with extensive experience in piloting different types of aircraft. He was the first commander of the cosmonaut corps and the cosmonaut who commanded the historic Voskhod 2 mission which saw the first man walk in space in 1965.',
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Pavel_Belyayev',
   'agency': {'id': 63,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/63/',
    'name': 'Russian Federal Space Agency (ROSCOSMOS)',
    'featured': True,
    'type': 'Government',
    'country_code': 'RUS',
    'abbrev': 'RFSA',
    'description': 'The Roscosmos State Corporation for Space Activities, commonly known as Roscosmos, is the governmental body responsible for the space science program of the Russian Federation and general aerospace research. Soyuz has many launch locations the Russian sites are Baikonur, Plesetsk and Vostochny however Ariane also purchases the vehicle and launches it from French Guiana.',
    'administrator': 'Administrator: Yuri Borisov',
    'founding_year': '1992',
    'launchers': 'Soyuz',
    'spacecraft': 'Soyuz',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/russian2520federal2520space2520agency25202528roscosmos2529_image_20190207032459.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/russian2520federal2520space2520agency25202528roscosmos2529_logo_20190207032459.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/pavel2520belyayev_image_20181128223003.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/pavel_belyayev_thumbnail_20220911034554.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '1965-03-18T07:00:00Z',
   'first_flight': '1965-03-18T07:00:00Z'},
  {'id': 86,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/86/',
   'name': 'Chen Dong',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-12-12',
   'date_of_death': None,
   'nationality': 'Chinese',
   'bio': "Chen Dong (simplified Chinese: 陈冬; traditional Chinese: 陳冬; pinyin: Chén Dōng; born 12 December 1978) is a Chinese pilot and astronaut selected as part of the Shenzhou program.\r\n\r\nHe was selected to fly on the Shenzhou 11 mission in October 2016 with astronaut Jing Haipeng. The two underwent more than 3,000 hours of training before the launch of the spacecraft. On 17 October 2016 On 07:30 local time (23:30 GMT on 16 October), Chen lifted off with Shenzhou 11 for a 33-day space mission to the Tiangong-2 space station as his first spaceflight, launched from the Jiuquan Satellite Launch Center using a Long March 2F launch rocket. The crew landed successfully after the 33 day mission on 18 November 2016, marking China's longest manned space flight to date. The reentry module of the Shenzhou-11 spacecraft landed in Inner Mongolia around 2.15 p.m(China time) after detaching from the space lab on 17 November.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Chen_Dong_(astronaut)',
   'agency': {'id': 17,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/17/',
    'name': 'China National Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'CHN',
    'abbrev': 'CNSA',
    'description': "The China National Space Administration (CNSA) is the national space agency of the People's Republic of China. It is responsible for the national space program and for planning and development of space activities. CNSA and China Aerospace Corporation (CASC) assumed the authority over space development efforts previously held by the Ministry of Aerospace Industry. The CNSA has many launch sites around China with their orbital sites located in Jiuquan, Xichang, Taiyuan and Wenchang.",
    'administrator': 'Administrator: Tang Dengjie',
    'founding_year': '1993',
    'launchers': '',
    'spacecraft': 'Shenzhou',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/china2520national2520space2520administration_image_20190207032431.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/china2520national2520space2520administration_logo_20190207032431.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chen_dong_image_20220604084758.png',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chen_dong_thumbnail_20220911033506.png',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2022-06-05T02:44:10Z',
   'first_flight': '2016-10-16T23:30:31Z'},
  {'id': 185,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/185/',
   'name': 'Liu Yang',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-10-06',
   'date_of_death': None,
   'nationality': 'Chinese',
   'bio': 'Liu Yang (born October 6, 1978) is a Chinese pilot and astronaut who served as a crew member on the space mission Shenzhou 9. On June 16, 2012, Liu became the first Chinese woman in space.',
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Liu_Yang_(astronaut)',
   'agency': {'id': 17,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/17/',
    'name': 'China National Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'CHN',
    'abbrev': 'CNSA',
    'description': "The China National Space Administration (CNSA) is the national space agency of the People's Republic of China. It is responsible for the national space program and for planning and development of space activities. CNSA and China Aerospace Corporation (CASC) assumed the authority over space development efforts previously held by the Ministry of Aerospace Industry. The CNSA has many launch sites around China with their orbital sites located in Jiuquan, Xichang, Taiyuan and Wenchang.",
    'administrator': 'Administrator: Tang Dengjie',
    'founding_year': '1993',
    'launchers': '',
    'spacecraft': 'Shenzhou',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/china2520national2520space2520administration_image_20190207032431.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/china2520national2520space2520administration_logo_20190207032431.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/liu_yang_image_20220604084749.png',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/liu_yang_thumbnail_20220911034547.png',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2022-06-05T02:44:10Z',
   'first_flight': '2012-06-16T10:37:24Z'},
  {'id': 484,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/484/',
   'name': 'Yi So-yeon',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-06-02',
   'date_of_death': None,
   'nationality': 'South Korean',
   'bio': "Yi So-yeon (born June 2, 1978) is an astronaut and biotechnologist who became the first Korean to fly in space.\r\nYi was one of the two finalists chosen on December 25, 2006 through the Korean Astronaut Program. On September 5, 2007, the Korean Ministry of Science and Technology chose Ko San, over Yi So-yeon, following performance and other tests during their training in Russia.\r\n\r\nOn March 7, 2008, she was selected to train with the primary crew, and on March 10 the Ministry of Education, Science and Technology announced that Yi would replace Ko. This was after the Russian Federal Space Agency asked for a replacement, because Ko violated regulations several times at a Russian training center by removing sensitive reading materials and mailing one back to Korea. On April 8, 2008, Yi was launched into space on board Soyuz TMA-12 with two Russian cosmonauts. South Korea is reported to have paid Russia $20 million for Yi's space flight. She is the third woman, after Helen Sharman of the United Kingdom and Anousheh Ansari an Iranian American, to be the first national from their country in space.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Yi_So-yeon',
   'agency': {'id': 261,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/261/',
    'name': 'Korean Astronaut Program',
    'featured': False,
    'type': 'Government',
    'country_code': 'KOR',
    'abbrev': 'KAP',
    'description': 'The Korean Astronaut Program was an initiative by the South Korean government to send the first Korean into space via the Russian space program. In 2008, Yi So-yeon became the first and only Korean to go to space for 10 days.',
    'administrator': None,
    'founding_year': '2006',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/yi2520so-yeon_image_20181202184152.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/yi_so-yeon_thumbnail_20220911033659.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2008-04-08T11:16:39Z',
   'first_flight': '2008-04-08T11:16:39Z'},
  {'id': 565,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/565/',
   'name': 'Kathleen Rubins',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-10-14',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Kathleen Hallisey "Kate" Rubins is a NASA astronaut. She became the 60th woman to fly in space when she launched on a Soyuz spacecraft to the International Space Station on July 6, 2016. She returned to Earth on October 30, 2016 aboard a Soyuz. She was a crew member of Expedition 48 and Expedition 49 of the International Space Station.',
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Kathleen_Rubins',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/kathleen2520rubins_image_20181203172435.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/kathleen_rubins_thumbnail_20220911033959.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2020-10-14T05:45:04Z',
   'first_flight': '2016-07-07T01:36:00Z'},
  {'id': 650,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/650/',
   'name': 'Pyotr Dubrov',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-01-30',
   'date_of_death': None,
   'nationality': 'Russian',
   'bio': "Dubrov was selected by Roscosmos as a cosmonaut on 8 October 2012, as one of eight cosmonauts selected as part of Roscosmos's 2012 selection group.\r\nIn 2020 he was assigned to the backup crew of Soyuz MS-17, backing up Russian cosmonaut Sergey Kud-Sverchkov as Flight Engineer on ISS Expedition 63/64",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Pyotr_Dubrov',
   'agency': {'id': 63,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/63/',
    'name': 'Russian Federal Space Agency (ROSCOSMOS)',
    'featured': True,
    'type': 'Government',
    'country_code': 'RUS',
    'abbrev': 'RFSA',
    'description': 'The Roscosmos State Corporation for Space Activities, commonly known as Roscosmos, is the governmental body responsible for the space science program of the Russian Federation and general aerospace research. Soyuz has many launch locations the Russian sites are Baikonur, Plesetsk and Vostochny however Ariane also purchases the vehicle and launches it from French Guiana.',
    'administrator': 'Administrator: Yuri Borisov',
    'founding_year': '1992',
    'launchers': 'Soyuz',
    'spacecraft': 'Soyuz',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/russian2520federal2520space2520agency25202528roscosmos2529_image_20190207032459.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/russian2520federal2520space2520agency25202528roscosmos2529_logo_20190207032459.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/pyotr_dubrov_image_20201120155626.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/pyotr_dubrov_thumbnail_20220911033951.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2021-04-09T07:42:41Z',
   'first_flight': '2021-04-09T07:42:41Z'}]}

In [102]:
pd.DataFrame(response_sp.json()['results'])

,id,url,name,status,type,age,date_of_birth,date_of_death,nationality,bio,twitter,instagram,wiki,agency,profile_image,profile_image_thumbnail,flights_count,landings_count,last_flight,first_flight
0,1,https://ll.thespacedevs.com/2.2.0/astronaut/1/,Thomas Pesquet,"{'id': 1, 'name': 'Active'}","{'id': 2, 'name': 'Government'}",44,1978-02-27,None,French,Thomas Gautier Pesquet is a French aerospace e...,https://twitter.com/Thom_astro,https://instagram.com/thom_astro,https://en.wikipedia.org/wiki/Thomas_Pesquet,"{'id': 27, 'url': 'https://ll.thespacedevs.com...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,2,2,2021-04-23T09:49:02Z,2016-11-17T20:20:13Z
1,77,https://ll.thespacedevs.com/2.2.0/astronaut/77/,Pavel Belyayev,"{'id': 11, 'name': 'Deceased'}","{'id': 2, 'name': 'Government'}",44,1925-06-26,1970-01-10,Russian,Pavel Ivanovich Belyayev (Russian: Павел Ивано...,None,None,https://en.wikipedia.org/wiki/Pavel_Belyayev,"{'id': 63, 'url': 'https://ll.thespacedevs.com...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,1,1,1965-03-18T07:00:00Z,1965-03-18T07:00:00Z
2,86,https://ll.thespacedevs.com/2.2.0/astronaut/86/,Chen Dong,"{'id': 1, 'name': 'Active'}","{'id': 2, 'name': 'Government'}",44,1978-12-12,None,Chinese,Chen Dong (simplified Chinese: 陈冬; traditional...,None,None,https://en.wikipedia.org/wiki/Chen_Dong_(astro...,"{'id': 17, 'url': 'https://ll.thespacedevs.com...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,2,2,2022-06-05T02:44:10Z,2016-10-16T23:30:31Z
3,185,https://ll.thespacedevs.com/2.2.0/astronaut/185/,Liu Yang,"{'id': 1, 'name': 'Active'}","{'id': 2, 'name': 'Government'}",44,1978-10-06,None,Chinese,"Liu Yang (born October 6, 1978) is a Chinese p...",None,None,https://en.wikipedia.org/wiki/Liu_Yang_(astron...,"{'id': 17, 'url': 'https://ll.thespacedevs.com...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,2,2,2022-06-05T02:44:10Z,2012-06-16T10:37:24Z
4,484,https://ll.thespacedevs.com/2.2.0/astronaut/484/,Yi So-yeon,"{'id': 2, 'name': 'Retired'}","{'id': 2, 'name': 'Government'}",44,1978-06-02,None,South Korean,"Yi So-yeon (born June 2, 1978) is an astronaut...",None,None,https://en.wikipedia.org/wiki/Yi_So-yeon,"{'id': 261, 'url': 'https://ll.thespacedevs.co...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,1,1,2008-04-08T11:16:39Z,2008-04-08T11:16:39Z
5,565,https://ll.thespacedevs.com/2.2.0/astronaut/565/,Kathleen Rubins,"{'id': 1, 'name': 'Active'}","{'id': 2, 'name': 'Government'}",44,1978-10-14,None,American,"Kathleen Hallisey ""Kate"" Rubins is a NASA astr...",None,None,https://en.wikipedia.org/wiki/Kathleen_Rubins,"{'id': 44, 'url': 'https://ll.thespacedevs.com...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,2,2,2020-10-14T05:45:04Z,2016-07-07T01:36:00Z
6,650,https://ll.thespacedevs.com/2.2.0/astronaut/650/,Pyotr Dubrov,"{'id': 1, 'name': 'Active'}","{'id': 2, 'name': 'Government'}",44,1978-01-30,None,Russian,Dubrov was selected by Roscosmos as a cosmonau...,None,None,https://en.wikipedia.org/wiki/Pyotr_Dubrov,"{'id': 63, 'url': 'https://ll.thespacedevs.com...",https://spacelaunchnow-prod-east.nyc3.digitalo...,https://spacelaunchnow-prod-east.nyc3.digitalo...,1,1,2021-04-09T07:42:41Z,2021-04-09T07:42:41Z